<!DOCTYPE html>
<html>
<head>
    <!--Load the absolute URL of static files-->
    {% load static %}

    <!--Load in CSS-->
    <link rel="stylesheet" href="{% static 'WWT/CSS/style.css' %}" />
</head>
<body class="body">
    <header>
        <div class="headerLayout">
            <div class="centerText borderedWWT">
                <h1 class="headerText">WeatherWise Travel</h1>
                <h2 class="headerText">Enhancing Trips with Real-Time Weather Insights</h2>
            </div>
            <div class="borderedTC">
                <h1 class="headerText headerTextTC">
                    Travel<br>
                    Clear
                </h1>
            </div>
            <nav class="centerText texth2">
                <a href="{% url 'WWT:index' %}">Welcome</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'WWT:about' %}">About</a>
            </nav>
        </div>
    </header>

    <div class="pageMargins">
        <h1 class="centerText">About</h1>
        <h2 class="centerText">Information about WeatherWise Travel</h2><!--Update as needed-->
        <p class="paragraph">
            WeatherWise Travel is a web app developed by Travel Clear to aid in
            travel planning by providing recommendations based on where a person is
            leaving from, going to, the dates they are at the destination, the
            activities they want to enjoy, and the weather forecasted for while they
            are at the destination. WeatherWise Travel presents an all-in-one travel
            information hub providing information on flights, car rentals, hotels,
            the weather, and various activity locations at the travel destination
            along with a map. More information about the locations can be obtained
            simply by selecting them from the results. As for the weather
            categorization, WeatherWise Travel classifies the forecasted weather at
            the destination as follows:

            <h4 class="centerText">General:</h4>
            <ul>
                <Li>
                    Pleasent - wind speed of 50 or below, no anticipated rain or snow,
                    cloud cover of 40 or below, and a temperature between 85 and 32
                    degrees Farenheit inclusive.
                </Li>
                <li>Extremely Hot - A temperature above 85 degrees Farenheit and humidity above 70%.</li>
                <li>Sunny - A temperature above 85 degrees Farenheit.</li>
                <li>Cold - A temperature below 32 degrees Fahrenheit, or freezing.</li>
                <li>Rainy - Rain being anticipated.</li>
                <li>Snowy - Snow being anticipated.</li>
                <li>Overcast - Cloud cover being greater than 70.</li>
                <li>Partially Cloudy - Cloud cover between 41 and 70 inclusive.</li>
                <li>Extermely Windy - A wind speed greater than 50.</li>
                <li>Windy - A wind speed between 21 and 50 inclusive.</li>
                <li>
                    High UV Index - A UV index greater than 7, only considered 
                    in a few scenarios.
                </li>

            </ul>
            <h4 class="centerText">Exceptions:</h4>
            <ul>
                <li>
                    Cold and Rainy - Rain being anticipated and both temperature below 50
                    degrees Fahrenheit and humidity above 70%.
                </li>
                <li>
                    Cold and Humid - A temperature below 32 degrees Farenheit, or freezing,
                    and humidity above 70%.
                </li>
                <li>
                    Extremely Hot with Moderate UV Index - A temperature above 85
                    degrees Farenheit and UV index greater than 5.
                </li>
            </ul>
        </p>
        <p class="paragraph">
            Note that WeatherWise Travel will only recommend outdoor activities if
            the forecasted weather on the selected day is amicable to the outdoor
            activity chosen, otherwise presenting indoor activities as recommended.
        </p>
        <h2 class="centerText">Information about APIs used</h2>
        <p class="paragraph">
            WeatherWise Travel leverages information from the following API's to
            provide its users with valuable insights:
            <ul>
                <li><a href="https://developers.skyscanner.net/docs/intro">SkyScanner</a> - Information on flights.</li>
                <li><a href="https://www.meteomatics.com/en/weather-api/">Meteomatics</a> - Insights on weather.</li>
                <li><a href="https://docs.mapbox.com/api/overview/">Mapbox</a> - Geocoding service utilized for map generation.</li>
                <li><a href="https://developers.google.com/maps/documentation/places/web-service/overview">Google Places</a> - Information on location, car rentals, and hotels.</li>
            </ul>
        </p>
        <h2 class="centerText">Disclaimer</h2><!--Update when user profiles are integrated-->
        <p class="paragraph">
            WeatherWise Travel is a web app designed to enhance trips with
            real-time weather insights and aid users in planning their trips it is
            not a professional weather forecaster nor a travel agent and the same
            goes for the Travel Clear team. Data utilized by WeatherWise Travel
            comes from the above APIs. WeatherWise Travel and the Travel Clear team
            are thus not liable for any inaccuracies in weather forecasting,
            activity locations, or any other data provided, nor are they liable
            for anything that may happen in a user's lifetime. Users should make
            sure they are prepared for the activities they intend to participate
            in and understand that weather forecasts especially are not always
            accurate. By useing WeatherWise Travel, you agree to this disclaimer.
        </p>
    </div>
</body>
</html>