<!DOCTYPE html>
<html>
<head>
    <!--Load the absolute URL of static files-->
    {% load static %}

    <!--Load in CSS-->
    <link rel="stylesheet" href="{% static 'WWT/style.css' %}"/>
</head>
<body>
    <header>
        <div>
            <h1>WeatherWise Travel</h1>
            <h2>Enhancing Trips with Real-Time Weather Insights</h2>
        </div>
        <div>
            <h1>
                Travel<br>
                Clear
            </h1>
        </div>
        <nav>
            <a href="{% url 'WWT:index' %}">Welcome</a>
            <a href="{% url 'WWT:about' %}">About</a>
        </nav>
    </header>

    <h1>Welcome</h1>
    <p>
        Please enter your destination and the beginning and end date of your
        trip as well as where you are leaving from.
    </p>

    <!--Display an error mesage if applicable-->
    {% if error_message %}
        <p>
            {{ error_message }}
        </p>
    {% endif %}

        <form action="{% url 'WWT:results' %}" method="get">
            <label for="origin">Leaving from:</label>
            <input type="text" id="origin" name="origin" maxlength="255" size="50" autofocus required /><br>

            <label for="destination">Destination:</label>
            <input type="text" id="destination" name="destination" maxlength="255" size="50" required /><br>

            <label for="arrival">Arriving:</label>
            <input type="date" id="arrival" name="arrival" required /><br>

            <label for="departure">Departing:</label>
            <input type="date" id="departure" name="departure" required /><br>

            <input type="submit" value="Enter" />
        </form>
</body>
</html>