.body {
    margin: 0px;
    padding: 0px;
}

.borderedTC {
    border: none black 2px;
    border-bottom-style: solid;
}

.borderedWWT {
    border: none black 2px;
    border-bottom-style: solid;
    border-right-style: solid;   
}

.centerText {
    text-align: center;
}

.errorText {
    color: red;
}

.headerLayout {
    display: grid;
    grid-template-columns: 9999fr 1fr;
    background-color: #CCF9EF;
    border: none black 2px;
    border-bottom-style: solid;
}

.headerText {
    padding: 3px;
    margin: 0px;
}

.headerTextTC {
    padding-right: 10px;
    padding-left: 10px;
}

.pageMargins {
    margin: auto;
    width: 75%;
}

.paragraph {
    text-indent: 30px;
}

.texth2 {
    font-size: 24px;
}

.travelForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    margin: auto;
    width: 75%;
    max-width: 600px;
}

.travelFormSubmit {
    display: block;
    margin: auto;
    width: 30%;
    max-width: 250px;
}